
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="col-xl-12">
    <section class="card">
        <header class="card-header card-header-transparent">
            <div class="card-actions">
                <a href="#" class="card-action card-action-toggle" data-card-toggle=""></a>
                <a href="#" class="card-action card-action-dismiss" data-card-dismiss=""></a>
            </div>

            <h2 class="card-title">Lista de Clientes</h2>
        </header>
        <div class="card-body">
            <!-- Clients Table -->
            <table id="tblClients" class="table table-responsive-md table-striped mb-0" />
        </div>
    </section>
</div>

@section JS{

    <script>
        var routes = {
            getAllClients: '@Url.Action("getAllClients", "Client")'
        };

    </script>

    <script type="text/javascript" src="@Url.Content("~/js/Model/ClientModel.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/View/ClientView.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/Controller/ClientController.js")"></script>

}
