@{
    ViewData["Title"] = "Home Page";
}


<!-- slider start here -->
<div class="slide">
    <div class="slideshow owl-carousel">
        <div class="item">
            <img src="@Url.Content("~/images/slider1.png")" alt="banner" title="banner" class="img-responsive" />
        </div>
        <div class="item">
            <img src="@Url.Content("~/images/slider2.png")" alt="banner" title="banner" class="img-responsive" />
        </div>
        <div class="item">
            <img src="@Url.Content("~/images/slider3.png")" alt="banner" title="banner" class="img-responsive" />
        </div>
    </div>
</div>
<!-- slider end here -->

<!-- 21th Days Leyend -->
<div class="">
    <div class="container" style="padding:50px;">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="BoxShadow">
                    <div class="" style="width:100%;">
                        <div class="">
                            <p>"Cuidadosamente escogemos los más frescos ingredientes para prepararte alimentos sanos y 
                            balanceados que te ayuden a promover la eliminación de toxinas durante 21 días. Cada día, te 
                            cocinamos tu comida y te la llevamos a tu casa u oficina para que podás obtener los beneficios 
                            de una desintoxicación, sin interferir con tu día a día."</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonail end here -->